<br>
<br>
<br>
<section id="about">
    <div class="container">
        <h2><strong>About</strong></h2>
        <div class="progress-bar" role="progressbar" [style.width]="width+'%'" style="height: 5px;" aria-valuemin="0" aria-valuemax="80"></div>
        <hr>
        <div class="row">
            <div class="col-lg-4 col-md-12" >
                <img class="img-responsive" src="./assets/mee.jpg" alt="Avatar" style="width:350px; height:350px">
            </div>

            <div class="col-lg-4 col-md-12">
                <h1><strong>Shraddha Bijotkar</strong></h1>
                
                    <h2 class="aos-init aos-animate" data-aos="fade-in"><span class="typed">Full Stack Developer</span></h2>
                    
               
            </div>
        </div>
        <br>
    </div>
    

</section>