

    

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">

               
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="expand=!expand">
                    <i class="fa fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" [ngClass]='{show:expand}' id="navbarSupportedContent">
                    
                    <ul class="nav navbar-nav ml-auto">
                       
                        <li class="navbar-item">
                            
                            <a  class="nav-link" href="#header" (click)="expand=!expand" >
                                
                                Shraddha Bijotkar
                            </a>
                        </li>
                    
                        <li class="nav-item">
                            
                            <a  class="nav-link" href="#about"  (click)="expand=!expand">
                                <i class="fa fa-smile" style="color: white;"></i>
                                About Shraddha</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#skills" (click)="expand=!expand">
                                <i class="fa fa-star" style="color: white;"></i>
                                Skills
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#projects" (click)="expand=!expand">
                                <i class="fa fa-tasks" style="color: white;"></i>
                                Projects
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#experience" (click)="expand=!expand">
                                <i class="fa fa-briefcase" style="color: white;"></i>
                                Experience
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact" (click)="expand=!expand">
                                <i class="fa fa-id-card" style="color: white;"></i>
                                Contact</a>
                        </li>
                    </ul>
                
                </div>
            </div>
        </nav>
   
