<section id="projects">
    <div class="container">
        <h2><strong>Projects</strong></h2>
        <span class="progress-bar" role="progressbar" [style.width]="width+'%'" style="height: 5px;" aria-valuemin="0" aria-valuemax="80"></span>
        <hr>
        <div class="row">

            <div class="col-lg-4 col-sm-12" data-aos="flip-up">
                <div id="card"  class="card bg-light mb-3 shadow-lg" >
                    <div class="card-header " style="height: 300px;width: 100%; ">
                        <div class="img-wrap" style="height: 280px;width: 100%; background-size: cover; " [ngStyle]="{backgroundImage:'url(assets/bot.JPG)'}" >

                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Interview Bot</h3>
                        <h5 class="card-title"><strong>Technologies:</strong>  </h5>
                        <p class="card-text">Angular 8, Node.js, MySQL, Dialogflow</p>
                        <a href="#" class="btn btn-primary card-link">Github Link</a>
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12" data-aos="flip-up">
                <div id="card" class="card bg-light mb-3 shadow-lg">
                    <div class="card-header " style="height: 300px;width: 100%; ">
                        <div class="img-wrap" style="height: 280px;width: 100%; background-size: cover; "  [ngStyle]="{backgroundImage:'url(assets/port.JPG)'}" >

                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Interview Bot</h3>
                        <h5 class="card-title"><strong>Technologies:</strong>  </h5>
                        <p class="card-text">Angular 8, Node.js, MySQL, Dialogflow</p>
                        <a href="#" class="btn btn-primary card-link">Github Link</a>
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12" data-aos="flip-up">
                <div id="card" class="card bg-light mb-3 shadow-lg">
                    <div class="card-header " style="height: 300px;width: 100%; ">
                        <div class="img-wrap" style="height: 280px;width: 100%; background-size: cover; " [ngStyle]="{backgroundImage:'url(assets/port.JPG)'}" >

                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Personal Portfolio</h3>
                        <h5 class="card-title"><strong>Technologies:</strong>  </h5>
                        <p class="card-text">Angular 10, HTML5, CSS3</p>
                        <a href="https://github.com/shraddha-bijotkar/shraddha-portfolio" class="btn btn-primary card-link">Github Link</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
