<section id="skills">
<div class="container">
    <h2><strong>Skills</strong></h2>
        <span class="progress-bar" role="progressbar" [style.width]="width+'%'" style="height: 5px;" aria-valuemin="0" aria-valuemax="80"></span>
        <hr>
    <div class="row"> 
        
        <div class="col-2">
            <h3><strong>Technologies</strong></h3>
           
            <ul>
                <li>HTML</li>
                <br>
                <li>CSS/JavaScript </li>
                <br>
                <li>Bootstrap</li>
                <br>
                <li>Java</li>
                <br>
                <li>Angular/Node.js</li>
            </ul>
        </div>
        <div class="col-md-4">
            <br>
            <br>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" [style.width]="width+'%'" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
            <hr>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" [style.width]="width+'%'" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
            <hr>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" [style.width]="width+'%'" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
            <hr>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" [style.width]="width+'%'" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
            <hr>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" [style.width]="width+'%'" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
            <hr>
        </div>

        <div class="col-2">
            <h3><strong>Technologies</strong></h3>
           
            <ul>
                <li>Git/GitHub</li>
                <br>
                <li>MySQL</li>
                <br>
                <li>Spring</li>
            </ul>
        </div>
        <div class="col-md-4">
            <br>
            <br>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
            <hr>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
            <hr>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
            <hr>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
            <hr>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
            <hr>
        </div>
    
    </div>
</div>
</section>