<footer id="contact">
    <ul>
      <div id="icon-container">
        <a href="https://www.linkedin.com/in/shraddha-bijotkar-155649177/" target="_blank">
          <div class="icon">
            <li><i class="fab fa-linkedin"></i></li>
          </div>
        </a>
        <a href="https://www.instagram.com/_shraddha_bijotkar/" target="_blank">
          <div class="icon">
            <li><i class="fab fa-instagram"></i></li>
          </div>
        </a>
        <a href="mailto:s24bijotkar@gmail.com" target="_blank">
          <div class="icon">
            <li><i class="far fa-envelope"></i></li>
          </div>
        </a>
        <a href="https://github.com/shraddha-bijotkar" target="_blank">
            <div class="icon">
              <li><i class="fab fa-github"></i></li>
            </div>
          </a>
      </div>
    </ul>
    <p>&copy; 2022 Shraddha Bijotkar</p>
  </footer>