<section id="experience">
    <div class="container">
        <h2><strong>Experience</strong></h2>
        <span class="progress-bar" role="progressbar" [style.width]="width+'%'" style="height: 5px;" aria-valuemin="0" aria-valuemax="80"></span>
        <hr>
        <div class="row" >
            <div class="col-lg-6 col-sm-12" data-aos="flip-down">
                <div id="card"  class="card bg-light mb-3 shadow-lg" >
                    <div class="card-header " >
                        <h2>Web Developer Intern</h2>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">At Cloud Couselage , Mumbai</h3>
                        <p class="card-text"> 05/2020 to 07/2020</p>
                        <p class="card-text">Creation of a project divided into 7 weeks of tasks</p>
                        <a href="http://www.cloudcounselage.com" class="btn btn-primary card-link">View Details</a>
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12" data-aos="flip-down">
                <div id="card"  class="card bg-light mb-3 shadow-lg" >
                    <div class="card-header " >
                        <h2>Software Developer</h2>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">At Capgemini Technology Services, India</h3>
                        <p class="card-text"> 07/2021 to present</p>
                        <p class="card-text">Working on Java full stack with Angular</p>
                        
                        <a href="http://www.cloudcounselage.com" class="btn btn-primary card-link">View Details</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
